venv
py39venv
experiments_getstarting/results/EnvironmentProcesses/Ant/
experiments_getstarting/results/EnvironmentProcesses/Humanoid/
experiments_getstarting/results/EnvironmentProcesses/InvertedDoublePendulum/
experiments_getstarting/results/ResourceAllocators/Ant/
experiments_getstarting/results/ResourceAllocators/FetchReach/
experiments_getstarting/results/ResourceAllocators/InvertedPendulum/
experiments_getstarting/results/ResourceAllocators/InvertedDoublePendulum/
experiments_getstarting/results/ResourceAllocators/MountainCar/
experiments_getstarting/results/ResourceAllocators/Pusher/
_hipatia
/libraries/
__pycache__
experiments/__pycache__
.vscode
_bender/project_SB3/data
_bender/project_SF/data